@import url(https://fonts.googleapis.com/css?family=Khula:700);

.container-fluid {
    background-image: #5D4954;
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(255 255 255 / 54%), rgba(12, 12, 12, 0.99)), url(images/background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
   
  }

  .welcome {

    margin-top: 10%; 
    font-size: calc(.5vw + 1.3vh);
 }

.welcome h1 span{
    color: wheat; 
 }


nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: "Poppins", sans-serif;
    z-index: 3;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.logo :hover{
color: wheat;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav-links li {
    list-style: none;
}
.nav-links :hover{
    color: wheat;
    text-decoration: solid;
    }
.nav-links .home{
    margin-left: 40%;
}



.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}



/* CSS */
.button-85 {
    margin-top: 20%;
  width: 240px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: black;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  list-style: none;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-85 .text{
    display: flex;
    justify-content: center;
    color: white;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  list-style: none;
  left: 0;
  top: 0;
  border-radius: 20px;
}


.hidden {
    opacity:0;
  }
  .console-container {
   
    height: 20px;
    font-size: 200%;
    text-align:center;
    display:block;
    position:relative;
    color:white;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    left:10px;
  }
  

  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:355px;}
      80% {opacity:1;}
      100% {opacity:0;width:355px;}
  }
  


@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
